[Desktop Entry]
Version=1.0
Type=Application
Name=3D Print Database
Comment=Manage 3D printing products with database and file system
Exec=/home/grbrum/Work/3d_print/3dPrintDB.sh
Icon=/home/grbrum/Work/3d_print/Code/frontend/icon.svg
Terminal=false
Categories=Utility;Database;Office;
Keywords=3d;print;database;product;management;
StartupNotify=true