[Desktop Entry]
Version=1.0
Type=Application
Name=3D Print Database
Comment=Manage 3D printing products with Python Tkinter GUI
Exec=python3 /home/grbrum/Documents/Code/3d_print_database/Code/frontend_py/frontend/3dPrintDB.py
Icon=/home/grbrum/Documents/Code/3d_print_database/Code/frontend_py/frontend/icon.svg
Terminal=false
Categories=Utility;Office;
Keywords=3d;print;database;management;