services:
  db:
    image: postgres:16
    container_name: products_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: products
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    container_name: products_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

  search:
    image: getmeili/meilisearch:latest
    container_name: products_search
    restart: always
    environment:
      MEILI_NO_ANALYTICS: "true"
    ports:
      - "7700:7700"
    volumes:
      - meili_data:/meili_data

  backend:
    build: ../backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app   # Mount local code for live editing
    depends_on:
      - db
      - search
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  db_data:
  meili_data:
